---
dist: bionic
language: go
go:
  - "1.13"

addons:
  apt:
    update: true
  hosts:
    - schema-registry.localhost
    - kafka-rest.localhost

services:
  - docker

env:
  global:
    - DOCKER_IMAGE_REPO: "${DOCKER_IMAGE_REPO:-$TRAVIS_REPO_SLUG}"
      DOCKER_IMAGE_TAG: "${TRAVIS_TAG:-$TRAVIS_BUILD_ID}"
      RAWKAFKA_SCHEMA_REGISTRY_URL: "http://schema-registry.localhost:9081"
      RAWKAFKA_REST_ENDPOINT: "http://kafka-rest.localhost:9082"

before_install:
  - sudo apt-get install -y bats
  - (cd test && docker-compose pull)
  # - docker pull hadolint/hadolint
  # - docker pull golangci/golangci-lint:v1.22.0

install:
  - (cd test && docker-compose up -d)
  - sleep 5
  - ./test/wait-for-it.sh -s -t 60 kafka-rest.localhost:9082 -- echo Kafka REST is ready
  - sleep 5
  - ./test/wait-for-it.sh -s -t 60 schema-registry.localhost:9081 -- echo Schema Registry is ready
  - sleep 5

script:
  # - make lint
  # - make test
  - make clean
  - make build
  - bats test/integration.bats
  # - docker build -t "${DOCKER_IMAGE_REPO}:${DOCKER_IMAGE_TAG}" .

before_deploy:
  - docker login -u "${DOCKER_REPO_USER}" -p "${DOCKER_REPO_ACCESS_TOKEN}"
  - docker tag "${DOCKER_IMAGE_REPO}:${DOCKER_IMAGE_TAG}" "${DOCKER_IMAGE_REPO}:latest"

deploy:
  provider: script
  script: docker push "${DOCKER_IMAGE_REPO}:latest" && docker push "${DOCKER_IMAGE_REPO}:${DOCKER_IMAGE_TAG}"
  on:
    branch: master
    tags: true
